@model IEnumerable<Chatbot.Data.Entities.PreguntaRespuesta>

@{
    ViewData["Title"] = "Preguntas y respuestas";
}

<h1>Inicio</h1>

<p>
    <a asp-action="Create">Crear nueva pregunta y respuesta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pregunta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Respuesta)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pregunta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Respuesta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
